{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div id="loginformcontent">
    <h2><b>L O G I N</b></h2><br>
<form method='POST'>
    {% csrf_token %}
         {{form | crispy}}
   <center> <input type="submit" class="btn btn-primary btn-lg" value="Login"></center>
   <p style="visibility: hidden;">hidddentexthidddentexthiddentext</p>
</form>
<a href="{% url 'password_reset' %}"> Forgot Password? </a> <br>
<a href="{% url 'register' %}"> Register </a>
</div>

</div>
    
{% endblock %}
