{% extends 'base.html' %}
{% block content %}

    {% if user.is_authenticated %}
    <center>  <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i></a>
        <a href="{% url 'search' %}"><i class="fa fa-search"></i></a>
       </center>
      <center>
    <form method="post"  action="{%url 'home'%}" >
        {% csrf_token %}
        <select name="selectedsubject" id="subjectoptions"> 
            {% for sub in subjects %}

            {% if currsub == sub.id %}
              <option value="{{sub.id}}" selected><p>{{sub.subject}}</p></option>
            {% else %}
            <option value="{{sub.id}}"><p>{{sub.subject}}</p></option>
            {%endif%}
            {% endfor %}
        </select>  
        <button type="submit" id="gobtn">Go</button>
    </form>   
    </center>     
    <ol>
        {% for item in page_obj %}
        <li><p><b>{{item.question}}</b></p>
        <p>{{item.answer}}</p></li>
        {% endfor %}
        </ol>
        <center>
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}

        {% else%}
            <p> You need to login first, <a href="{% url 'login' %}">login</a></p>
        {% endif %}
        </center>
{% endblock %}
