{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
             
<div class="container">
    <div id="header">
      <center>
        <form method="post"  action="{%url 'home'%}" >
            {% csrf_token %}
            <select name="selectedsubject" id="subjectoptions" onchange="this.form.submit()"> 
                {% for sub in subjects %}
    
                {% if currsub == sub.id %}
                  <option value="{{sub.id}}" selected><p>{{sub.subject}}</p></option>
                {% else %}
                <option value="{{sub.id}}"><p>{{sub.subject}}</p></option>
                {%endif%}
                {% endfor %}
            </select>  
        </form>   
    </center>
            {% for item in page_obj %}
        
            <div class="panel panel-default">
                
      
                <div class="panel-heading">{{item.question}}</div>
                <div class="panel-body">{{item.answer}}</div>
              </div>
              {% endfor %}

            </div>
                            
    </div>
    <center>
    
        {% if page_obj.has_previous %}
        <ul class="pagination">
            <a href="?page=1" class="btn btn-primary btn-lg">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary btn-lg">Previous</a>
        </ul>
        {% endif %}

        <!-- Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. -->

        {% if page_obj.has_next %}
        <ul class="pagination">
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary btn-lg">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary btn-lg">Last &raquo;</a>
        </ul>
        {% endif %}

        {% else%}
            <p> You need to login first, <a href="{% url 'login' %}">login</a></p>
        {% endif %}
        </center>
{% endblock %}
