{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
    <center>
        <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i></a>
        <a href="{% url 'home' %}"><i class="fa fa-home"></i></a>
        <form action="{% url 'search' %}" method="post" id="searchform">
            {% csrf_token %}
            <input type="text" name="searchtext" required>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </center>
    <ol>
    {% for item in items %}
    <li><p><b>{{item.question}}</b></p>
    <p>{{item.answer}}</p></li>
    {% endfor %}
    </ol>
   
    {% else%}
    <center> <p> You need to login first, <a href="{% url 'login' %}">login</a></p></center>
    {% endif %}
{% endblock %}