{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
    <center>
        <a href="{% url 'home' %}" class="btn btn-default btn-lg"><i class="fa fa-home" ></i></a><br><br><br>
        <div class="container">
        <form action="{% url 'search' %}" method="post" id="searchform">
            {% csrf_token %}
            <div class="input-group">
       
            <input type="text"  name="searchtext" class="form-control" placeholder="Search" required>
           <div class="input-group-btn">
            <button class="btn btn-default" type="submit">Go</button>
            </div>
            </div>
        </form>
        </div>
    </center>
    <div class="container">
    {% for item in items %}
    <div class="panel panel-default">  
        <div class="panel-heading">{{item.question}}</div>
        <div class="panel-body">{{item.answer}}</div>
    </div>
    {% endfor %}
    </div>
    {% else%}
    <center> <p> You need to login first, <a href="{% url 'login' %}">login</a></p></center>
    {% endif %}
    
    
{% endblock %}