body
{
    font-size: 30px;
    background-color: #303303;
}
h1
{
    color:white;
}
label
{
 display:block; 
}
#formcontent
{
    text-align: center;
}
#loginformcontent,#registerformcontent
{
    display:flex;
    flex-flow:column wrap;
    align-items: center;
    border-radius: 10px;
    margin:10%;
}
#loginformcontent input[type="submit"],#registerformcontent input[type="submit"]
{
    display: block;
    margin-top:20px;
}
span
{
    display: none;
}
#questionitem
{
    margin-left:2%;
    margin-right:2%;
 }
